html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

* {
  box-sizing: inherit;
}
